<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BasePath" value=""/>
		<add key="IncludeFiles" value=""/>
		<add key="ExcludeFiles" value=""/>
		<add key="ContainingText" value=""/>
		<add key="Recursive" value="true"/>
		<add key="CaseSensitive" value="false"/>
		<add key="RipGrepPath" value="C:\ripgrep-13.0.0-x86_64-pc-windows-msvc\rg.exe"/>
	</appSettings>
</configuration>