<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BasePath" value=""/>
		<add key="IncludeFiles" value=""/>
		<add key="ExcludeFiles" value=""/>
		<add key="ContainingText" value=""/>
		<add key="Recursive" value="true"/>
		<add key="CaseSensitive" value="false"/>
		<add key="RegularExpression" value="false"/>
		<add key="MainWindowLeft" value="0"/>
		<add key="MainWindowTop" value="0"/>
		<add key="MainWindowWidth" value="800"/>
		<add key="MainWindowHeight" value="450"/>
		<add key="MainWindowState" value="0"/>
		<add key="FileEncoding" value="Auto"/>
		<add key="MaxSearchTerms" value="10"/>
		<add key="MaxFileSize" value="0"/>
		<add key="MaxFileSizeUnit" value="None"/>
		<add key="Theme" value="Light"/>
	</appSettings>
</configuration>